.container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
}

.container div {
  background-color: #f1f1f1;
  width: 400px;
  margin: 10px;
  padding: 13px;
  border-radius: 16;
  text-align: center;  
  font-size: 25px;
  text-shadow: 4px 3px 4px #71a8cc;
  font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
letter-spacing: -1px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}