.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(49, 137, 167);
}

.container div {
  background-color: #cef3f1;
  width: 400px;
  margin: 10px;
  padding: 13px;
  border-radius: 16px;
  text-align: center;  
  font-size: 25px;
  text-shadow: 4px 3px 4px #71a8cc;
}