* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
    'facts'
    'footer';
  background-color: rgb(170, 225, 243);
  gap: 10px;  
}

.header {
  grid-area: header;
  background-color: rgb(75, 102, 255);
  text-align: center;
  color: #ffffff;
}

.header > h1 {
  font-size: 50px;
}

.menu {
  grid-area: menu;
  }
  
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #00bbff;
  color: #ffffff;
}

.menu li:hover {
  background-color: #105d77;
}
  
.content {
  grid-area: main;
}

.content > h1 {
  font-size: 35px;
  margin-bottom: 7px;
}

.content > p {
  margin-bottom: 7px;
}

.facts {
  grid-area: facts;
  border: 1px solid #0099cc;
  background-color: rgb(255, 255, 179);
  padding: 10px;
}

.facts > h2 {
  font-size: 20px;
}

.facts li {
  margin-bottom: 5px;
}

.footer {
  grid-area: footer;
  background-color: #245363;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}